# 01. Importing Libraries

In [1]:
import pandas as pd
import numpy as np
import os

# 02. Importing Data

In [2]:
path = r'C:\Users\byl19\Acheivment 6\Acheivment 6'

In [3]:
df = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'Oil-Spills.csv'), index_col = False)

In [4]:
df.shape

(2795, 48)

# 03. Exploring Data

In [85]:
df.shape

(2795, 48)

In [86]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2795 entries, 0 to 2794
Data columns (total 48 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   Report Number                         2795 non-null   int64
 1   Supplemental Number                   2795 non-null   int64
 2   Accident Year                         2795 non-null   int64
 3   Accident Date/Time                    2795 non-null   object
 4   Operator ID                           2795 non-null   int64
 5   Operator Name                         2795 non-null   object
 6   Pipeline/Facility Name                2674 non-null   object
 7   Pipeline Location                     2795 non-null   object
 8   Pipeline Type                         2777 non-null   object
 9   Liquid Type                           2795 non-null   object
 10  Liquid Subtype                        1349 non-null   object
 11  Liquid Name                           222 non-null    object
 12  Accident City                         2480 non-null   object
 13  Accident County                       2720 non-null   object
 14  Accident State                        2783 non-null   object
 15  Accident Latitude                     2795 non-null   float64
 16  Accident Longitude                    2795 non-null   float64
 17  Cause Category                        2795 non-null   object
 18  Cause Subcategory                     2795 non-null   object
 19  Unintentional Release (Barrels)       2795 non-null   float64
 20  Intentional Release (Barrels)         1209 non-null   float64
 21  Liquid Recovery (Barrels)             2795 non-null   float64
 22  Net Loss (Barrels)                    2795 non-null   float64
 23  Liquid Ignition                       2795 non-null   object
 24  Liquid Explosion                      2795 non-null   object
 25  Pipeline Shutdown                     2583 non-null   object
 26  Shutdown Date/Time                    1390 non-null   object
 27  Restart Date/Time                     1341 non-null   object
 28  Public Evacuations                    2338 non-null   float64
 29  Operator Employee Injuries            12 non-null     float64
 30  Operator Contractor Injuries          12 non-null     float64
 31  Emergency Responder Injuries          12 non-null     float64
 32  Other Injuries                        12 non-null     float64
 33  Public Injuries                       12 non-null     float64
 34  All Injuries                          12 non-null     float64
 35  Operator Employee Fatalities          8 non-null      float64
 36  Operator Contractor Fatalities        8 non-null      float64
 37  Emergency Responder Fatalities        8 non-null      float64
 38  Other Fatalities                      8 non-null      float64
 39  Public Fatalities                     8 non-null      float64
 40  All Fatalities                        8 non-null      float64
 41  Property Damage Costs                 2788 non-null   float64
 42  Lost Commodity Costs                  2791 non-null   float64
 43  Public/Private Property Damage Costs  2785 non-null   float64
 44  Emergency Response Costs              2789 non-null   float64
 45  Environmental Remediation Costs       2787 non-null   float64
 46  Other Costs                           2779 non-null   float64
 47  All Costs                             2795 non-null   int64
dtypes: float64(25), int64(5), object(18)
memory usage: 1.0+ MB

In [87]:
#deleting unescessary fatality columns
df = df.drop(columns=['Operator Employee Fatalities','Operator Contractor Fatalities','Emergency Responder Fatalities','Other Fatalities','Public Fatalities','All Fatalities'])

In [88]:
#dropping unnecessary injuries columns
df = df.drop(columns=['Operator Employee Injuries','Operator Contractor Injuries','Emergency Responder Injuries','Other Injuries','Public Injuries','All Injuries'])

In [89]:
#dropping any other unnecessary columns
df = df.drop(columns = ['Supplemental Number','Liquid Subtype','Liquid Name','Accident Latitude','Accident Longitude'])

In [90]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2795 entries, 0 to 2794
Data columns (total 31 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   Report Number                         2795 non-null   int64
 1   Accident Year                         2795 non-null   int64
 2   Accident Date/Time                    2795 non-null   object
 3   Operator ID                           2795 non-null   int64
 4   Operator Name                         2795 non-null   object
 5   Pipeline/Facility Name                2674 non-null   object
 6   Pipeline Location                     2795 non-null   object
 7   Pipeline Type                         2777 non-null   object
 8   Liquid Type                           2795 non-null   object
 9   Accident City                         2480 non-null   object
 10  Accident County                       2720 non-null   object
 11  Accident State                        2783 non-null   object
 12  Cause Category                        2795 non-null   object
 13  Cause Subcategory                     2795 non-null   object
 14  Unintentional Release (Barrels)       2795 non-null   float64
 15  Intentional Release (Barrels)         1209 non-null   float64
 16  Liquid Recovery (Barrels)             2795 non-null   float64
 17  Net Loss (Barrels)                    2795 non-null   float64
 18  Liquid Ignition                       2795 non-null   object
 19  Liquid Explosion                      2795 non-null   object
 20  Pipeline Shutdown                     2583 non-null   object
 21  Shutdown Date/Time                    1390 non-null   object
 22  Restart Date/Time                     1341 non-null   object
 23  Public Evacuations                    2338 non-null   float64
 24  Property Damage Costs                 2788 non-null   float64
 25  Lost Commodity Costs                  2791 non-null   float64
 26  Public/Private Property Damage Costs  2785 non-null   float64
 27  Emergency Response Costs              2789 non-null   float64
 28  Environmental Remediation Costs       2787 non-null   float64
 29  Other Costs                           2779 non-null   float64
 30  All Costs                             2795 non-null   int64
dtypes: float64(11), int64(4), object(16)
memory usage: 677.0+ KB

In [91]:
#checking for mixed-type data
for col in df.columns.tolist():
  weird = (df[[col]].applymap(type) != df[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df[weird]) > 0:
    print (col)

Pipeline/Facility Name
Pipeline Type
Accident City
Accident County
Accident State
Pipeline Shutdown
Shutdown Date/Time
Restart Date/Time

In [92]:
#fixing mixed-type data
df['Pipeline/Facility Name'].value_counts()

WYOMING PIPELINE COMPANY            20
CUSHING TERMINAL                    18
CORSICANA STATION                   18
LINDEN STATION                      15
CARTERET TERMINAL                   14
                                    ..
212 METER RUN AT CONWAY STORAGE      1
COLTON SOUTH TERMINAL                1
HWY. 90 VALVE SITE                   1
AURORA PUMP STATION                  1
MARSHALL STATION                     1
Name: Pipeline/Facility Name, Length: 1977, dtype: int64

In [93]:
df['Pipeline/Facility Name'] = df['Pipeline/Facility Name'].astype('str')

In [94]:
#pipeline type fix
df['Pipeline Type'].value_counts()

ABOVEGROUND        1475
UNDERGROUND         985
TANK                301
TRANSITION AREA      16
Name: Pipeline Type, dtype: int64

In [95]:
df['Pipeline Type'] = df['Pipeline Type'].astype('str')

In [96]:
#accident city fix
df['Accident City'].value_counts()

CUSHING      78
PASADENA     70
HOUSTON      50
MIDLAND      45
BEAUMONT     35
             ..
ATHENS        1
PIEDMONT      1
SPOKANE       1
POCATELLO     1
GONZALES      1
Name: Accident City, Length: 1027, dtype: int64

In [97]:
df['Accident City'] = df['Accident City'].astype('str')

In [98]:
#accident county fix
df['Accident County'] = df['Accident County'].astype('str')

In [99]:
#accient state fix
df['Accident State'] = df['Accident State'].astype('str')

In [100]:
#pipeline shutdown fix
df['Pipeline Shutdown'].value_counts()

YES    1395
NO     1188
Name: Pipeline Shutdown, dtype: int64

In [101]:
df['Pipeline Shutdown'] = df['Pipeline Shutdown'].map({'YES':True ,'NO':False})

In [102]:
df['Pipeline Shutdown'].value_counts()

True     1395
False    1188
Name: Pipeline Shutdown, dtype: int64

In [103]:
df['Pipeline Shutdown'] = df['Pipeline Shutdown'].astype('bool')

In [6]:
#changing yes no columns to True False
df['Liquid Ignition'].value_counts()

False    2700
True       95
Name: Liquid Ignition, dtype: int64

In [5]:
df['Liquid Ignition'] = df['Liquid Ignition'].map({'YES':True ,'NO':False})

In [10]:
df['Liquid Ignition'] = df['Liquid Ignition'].astype('bool')

In [9]:
df['Liquid Explosion'].value_counts()

False    2780
True       15
Name: Liquid Explosion, dtype: int64

In [8]:
df['Liquid Explosion'] = df['Liquid Explosion'].map({'YES':True ,'NO':False})

In [11]:
df['Liquid Explosion'] = df['Liquid Explosion'].astype('bool')

In [105]:
#shutdown date/time fix
df['Shutdown Date/Time'].value_counts()

9/20/2011 6:50     2
9/27/2013 11:30    2
3/11/2015 19:20    2
12/28/2013 9:30    2
5/6/2016 14:56     2
                  ..
9/16/2010 13:41    1
6/1/2015 2:28      1
9/4/2014 6:40      1
6/4/2010 11:25     1
12/27/2016 8:54    1
Name: Shutdown Date/Time, Length: 1385, dtype: int64

In [106]:
df['Shutdown Date/Time'] = df['Shutdown Date/Time'].astype('str')

In [109]:
#restart date/time fix
df['Restart Date/Time'] = df['Restart Date/Time'].astype('str')

In [110]:
#double checking for mixed-type data
for col in df.columns.tolist():
  weird = (df[[col]].applymap(type) != df[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df[weird]) > 0:
    print (col)

In [111]:
#checking missing values
df.isnull().sum()

Report Number                              0
Accident Year                              0
Accident Date/Time                         0
Operator ID                                0
Operator Name                              0
Pipeline/Facility Name                     0
Pipeline Location                          0
Pipeline Type                              0
Liquid Type                                0
Accident City                              0
Accident County                            0
Accident State                             0
Cause Category                             0
Cause Subcategory                          0
Unintentional Release (Barrels)            0
Intentional Release (Barrels)           1586
Liquid Recovery (Barrels)                  0
Net Loss (Barrels)                         0
Liquid Ignition                            0
Liquid Explosion                           0
Pipeline Shutdown                          0
Shutdown Date/Time                         0
Restart Date/Time                          0
Public Evacuations                       457
Property Damage Costs                      7
Lost Commodity Costs                       4
Public/Private Property Damage Costs      10
Emergency Response Costs                   6
Environmental Remediation Costs            8
Other Costs                               16
All Costs                                  0
dtype: int64

In [113]:
df['Intentional Release (Barrels)'].fillna(0, inplace=True)

In [115]:
df['Public Evacuations'].fillna(0, inplace=True)

In [116]:
df['Property Damage Costs'].fillna(0, inplace=True)

In [117]:
df['Lost Commodity Costs'].fillna(0, inplace=True)

In [118]:
df['Public/Private Property Damage Costs'].fillna(0, inplace=True)

In [119]:
df['Emergency Response Costs'].fillna(0, inplace=True)

In [120]:
df['Environmental Remediation Costs'].fillna(0, inplace=True)

In [121]:
df['Other Costs'].fillna(0, inplace=True)

In [122]:
df.isnull().sum()

Report Number                           0
Accident Year                           0
Accident Date/Time                      0
Operator ID                             0
Operator Name                           0
Pipeline/Facility Name                  0
Pipeline Location                       0
Pipeline Type                           0
Liquid Type                             0
Accident City                           0
Accident County                         0
Accident State                          0
Cause Category                          0
Cause Subcategory                       0
Unintentional Release (Barrels)         0
Intentional Release (Barrels)           0
Liquid Recovery (Barrels)               0
Net Loss (Barrels)                      0
Liquid Ignition                         0
Liquid Explosion                        0
Pipeline Shutdown                       0
Shutdown Date/Time                      0
Restart Date/Time                       0
Public Evacuations                      0
Property Damage Costs                   0
Lost Commodity Costs                    0
Public/Private Property Damage Costs    0
Emergency Response Costs                0
Environmental Remediation Costs         0
Other Costs                             0
All Costs                               0
dtype: int64

In [123]:
#finding duplicates
df_dups = df[df.duplicated()]

In [124]:
df_dups

Empty DataFrame
Columns: [Report Number, Accident Year, Accident Date/Time, Operator ID, Operator Name, Pipeline/Facility Name, Pipeline Location, Pipeline Type, Liquid Type, Accident City, Accident County, Accident State, Cause Category, Cause Subcategory, Unintentional Release (Barrels), Intentional Release (Barrels), Liquid Recovery (Barrels), Net Loss (Barrels), Liquid Ignition, Liquid Explosion, Pipeline Shutdown, Shutdown Date/Time, Restart Date/Time, Public Evacuations, Property Damage Costs, Lost Commodity Costs, Public/Private Property Damage Costs, Emergency Response Costs, Environmental Remediation Costs, Other Costs, All Costs]
Index: []

[0 rows x 31 columns]

In [ ]:
df.to_csv(r'C:\Users\byl19\Acheivment 6\Acheivment 6\02 Data\Prepared Data\Cleaned-Oil-Data.csv', index = False)